html, body, #__next {
  height: 100%;
  margin: 0;
  font-family: Inter, Poppins, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
body {
  background: linear-gradient(135deg,#74ebd5 0%, #acb6e5 100%); 
}
